/*****************************/
/*****Small Laptop Design*****/
/*****************************/

@media (max-width: 1260px) {
  html {
    font-size: 56.25%;
  }

  .time-tracking-dashboard {
    max-width: 104rem;
  }

  .profile-card {
    padding: 2.8rem 2rem 3.6rem 2rem;
  }

  .tags {
    gap: 2rem;
    padding: 2.8rem;
  }
}

/*****************************/
/*****Large Tablet Design*****/
/*****************************/

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }

  .time-tracking-dashboard {
    grid-template-columns: repeat(3, 1fr);
  }

  .profile-card-wrapper {
    grid-row: span 1;
    grid-column: 1/-1;
  }

  .profile-card {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
  }

  .profile-image {
    max-width: 12.8rem;
    margin: 0;
  }

  .profile-card-text-wrapper {
    margin-bottom: 0;
  }

  .tags {
    flex-direction: row;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
  }
}

/*****************************/
/*****Small Tablet Design*****/
/*****************************/

@media (max-width: 870px) {
  .time-tracking-dashboard {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }

  .profile-card-wrapper {
    grid-row: span 1;
    grid-column: 1/-1;
  }

  .profile-card {
    display: flex;
    gap: 2.8rem;
  }

  .profile-image {
    max-width: 9.6rem;
  }

  .profile-name {
    font-size: 3.2rem;
    margin-bottom: 0;
  }

  .tags {
    flex-direction: row;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
  }

  .text-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .tracked-time {
    font-size: 4.8rem;
  }
}

/*****************************/
/*********Mobile Design*******/
/*****************************/

@media (max-width: 670px) {
  .time-tracking-dashboard {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }

  .profile-card {
    gap: 2rem;
  }

  .profile-image {
    max-width: 8rem;
  }

  .profile-name {
    font-size: 2.8rem;
  }
}
